/* Imports */

@import url(../fonts/raleway/font.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,latin-ext);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(../../node_modules/@staaky/strip/dist/css/strip.css);
@import url(../../node_modules/basscss/css/basscss.min.css);

/* DOM */
img                         {margin-bottom: -6px;}
a:hover img                 {opacity: 0.9}
.btn:focus                  {box-shadow: none}

/* backgrounds */

.bg-violet                  {background: #32294c}
.bg-search                  {background: #251f38}
.bg-menu                    {background: #2b243f}
.bg-dviolet                 {background: #211a35}
.bg-bviolet                 {background: #1D172D}
.bg-slider                  {background: rgba(27, 22, 43, 1)}
.bg-pink                    {background: #e81062}
.slide-over                 {background: #2f2942}
.bg-light                   {background: #e9e9e9}
.bg-body                    {background: #f7f7f7}
.bg-box                     {background: #eeedf0}
.bg-footer                  {background: #272235}
.bg-contact                 {background: #211c2d}
.bg-form                    {background: #352d47}
.bg-field                   {background: #3e384d}
.bg-vline                   {background: #3f3363}
.bg-last                    {background: #191427;}


/* Font */

.raleway                    {font-family: 'Raleway', sans-serif;}
.opensans                   {font-family: 'Open Sans', sans-serif;}
.h1                         {font-size: 3.75rem; line-height: 110%;}
.dark                       {color: #373149}
.slatepink                   {color: #bfbccf}
.pink                       {color: #e81062}
.dim                        {color: #635d73}
.slate                      {color: #B6B3BF}
.rsp-image                  {width: 100%}

/* Font weight */

.light                      {font-weight: 300}
.semy                       {font-weight: 500}
.heavy                      {font-weight: 900}
.underline                  {text-decoration: underline}

/* Helpers */

.valign                     {vertical-align: middle;}
.full-height                {height: 100%; min-height: 100%}
.y100                       {min-height: 100vh;}
.myh                        {margin-top: 36vh}
.pointer                    {cursor: pointer;}
.hidden                     {opacity: 0; display: none}
.deco-none:hover            {text-decoration: none;}
.hr-white                   {border-bottom-color: #696475}
.animation                  {-webkit-transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -ms-transition: all .25s ease-in-out; -o-transition: all .25s ease-in-out; transition: all .25s ease-in-out;}
.noselect                   {-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.select-color::selection    {background: #e20052; /* WebKit/Blink Browsers */}
.select-color
::-moz-selection            {background: #e20052; /* Gecko Browsers */}

/* Slider Home */

.border-left-pink           {border-left:10px #e10052 solid }
.slider                     {margin-top: -78px;}
.slider .pointer:hover      {opacity: 0.77}
.slider-dots .pointer:hover {background: #433182}
.slider-dots .dot.active    {background: #433182}
.slider-dots .dot           {font-size: 9px; padding: 2px 7px; color: #9A9A9A;}
.arrow:hover                {opacity: 0.77}

/* Slide Fade In Out */
.fadein                     {opacity: 1}
.fadeout                    {opacity: 0}
.fade                       {padding-top: 78px;; -webkit-transition: opacity 1s ease-in-out; -moz-transition: opacity 1s ease-in-out; -ms-transition: opacity 1s ease-in-out; -o-transition: opacity 1s ease-in-out; background-repeat:no-repeat; background-position: center center }
.fade::before               {content:""; position:  absolute; height: 100%; width: 100%; top: 0; left: 0; background-image: url('../img/loading.svg'); background-repeat: no-repeat; background-position: center center; background-color: rgba(17, 10, 38, 1); opacity:1 ; z-index: 1; -webkit-transition: opacity 1s ease-in-out; -moz-transition: opacity 1s ease-in-out; -ms-transition: opacity 1s ease-in-out; -o-transition: opacity 1s ease-in-out;}
.fadeBg::before             {content:""; opacity: 0.64; background-image: none!important}
.subheader::before          {content: ""; background-color: rgba(41, 34, 64, 0.85); position: absolute; height: 100%; width: 100%; display: block; top: 0; left: 0; z-index: 0;}
.sub-line                   {height: 3px; display: block; background: white; width: 140px;}

/*  Video Gallery */
.video-item:nth-child(even):after{content: ""; display: block; height: 1px; clear: both}


/* Navigation */

.main-menu a                {padding: 0.3rem 0 0.3rem 0; margin: 0.36rem 0.85rem 0 0.85rem; border-bottom: 2px #2b243f solid}
.main-menu li.level1.active > a{border-bottom: 2px red solid}
.main-menu li.level1 > a:hover{border-bottom: 2px red solid; opacity:0.8;}
.right-menu a               {width: 78px; height: 78px; line-height: 78px; text-align: center; display: block; float: left}
.main-menu > ul > li        {height: 2.875rem}
a.search-toggl:hover        {text-decoration: none; opacity: 0.9}
a.lang-toggl:hover          {text-decoration: none; opacity: 0.9}
.branding                   {max-width: 410px; height: 78px; line-height: 78px; background-image: url('../img/logo.svg'); background-repeat: no-repeat; background-position: center center; background-size: 90%}
.sub-menu                   {opacity: 0; visibility: hidden; margin-top: 26px; min-width: 10rem; width: auto}
.sub-toggle:hover>.sub-menu {opacity: 1; visibility: visible}
.sub-menu a                 {display: block; padding: 0.7rem 2rem; margin: 0;  border-bottom:1px #382f57 solid; ; width: auto}
.sub-menu a:hover           {background: #e20052; border-left: 3px #12101d solid; border-bottom:none; margin-left: -2px;  border-bottom:1px #382f57 solid}
.sub-tap                    {position: absolute; top: 0; right: 0;  width: 46px; height: 46px; text-align: center; line-height: 40px; font-size: 26px; background: #241E38;}
.menu-toggle i.fa-close     {color: #706986;}

/* Homepage */

.home-nav                   {background: #373149}
.home-nav .h2               {font-size: 2.25rem}
.home-nav li.active a       {opacity: 1}
.home-nav li.active::before {content: ""; border-bottom: 4px #e10052 solid; position: relative; bottom: -85px; display: block;}
.home-nav li:hover::before  {content: ""; border-bottom: 4px #e10052 solid; position: relative; bottom: -85px; display: block;}
.home-nav li:nth-child(2) a {color:#BAB8C0}
.home-nav li:nth-child(3) a {color:#757181}
.home-nav a:hover           {text-decoration: none; opacity: 1}
.subheader .h3              {line-height: 2.5rem; font-size: 1.35rem}
.banners-light              {background: #f2f2f2; border-top: 2px #fff solid;}
.banners-dark               {background: #191427; border-bottom: 3px #dd4952 solid;}
.event-date                 {background: rgba(0, 0, 0, 0.44)}
.event-date .day            {font-size: 30px;}
a.link-hover                {position: relative; z-index: 1; display: block; overflow: auto}
a.link-hover::after         {-webkit-transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -ms-transition: all .25s ease-in-out; -o-transition: all .25s ease-in-out; transition: all .25s ease-in-out;}
a.link-hover::after         {content: ""; background: rgba(253, 253, 253, 0) url('../img/link.svg') no-repeat center center; background-size: 1px; position: absolute; top: inherit; left: 0; right: 0; bottom: 0; opacity: 1; z-index: 2; height: 0; display: block; overflow: auto}
a.link-hover:hover::after   {content: ""; background: rgba(253, 253, 253, 0.77) url('../img/link.svg') no-repeat center center; background-size: 80px; position: absolute; top: inherit; left: 0; right: 0; bottom: 0; opacity: 1; z-index: 2; height: 100%; display: block; overflow: auto}
.tab-cont                   {opacity: 1}

/* Search */
.search                     {top: 78px;}
.search .h1                 {font-size: 2.25rem; line-height: 150%; color: #c0bccd}
.search .inputSearch        {background: 0 0; border: 3px dashed #433e54; font-size: 2rem; height: 3.5rem; line-height: 3.5rem; padding: 0.8rem 3.3rem 0.8rem 0.8rem; color: #bebbce;}
.search
::-webkit-input-placeholder {color: #bfbccf;}
.search :-moz-placeholder   {color: #bfbccf;}
.search ::-moz-placeholder  {color: #bfbccf;}
.search
:-ms-input-placeholder      {color: #bfbccf;}
.seearch
.clearSearch i:hover        {opacity: 0.8}

/* Contact Page */
.contact-icon               {width: 51px; height: 51px; line-height: 51px; text-align: center; font-size: 1.5rem}
.contact-text               {color:#c3c3c3}
.field:focus                {box-shadow: none; border-color:#6b657c ;}

/* Footer */
footer .dim                 {color: #898692}
footer .h4                  {font-size: 0.8rem}
.follow-us a                {width: 24px; height: 24px; display: inline-block; line-height: 24px; text-align: center; opacity: 0.44;}
.follow-us a:hover          {opacity: 1;}


/* Mobile Hacks */

@media only screen and      (min-width: 64em) and (max-width: 78rem){
    .fa-bars                {font-size: 1.5rem}
    .main-menu li.level1 > a{margin: 0.36rem 0.4rem 0 0.4rem;}
    .main-menu              {min-width: 526px}
    .branding               {background-size: 90%}
    .slider-caption         {padding: 0 6rem!important}
}
@media only screen and      (min-width: 85rem){
    /* Gallery */
    .main-menu              {padding-left: 3rem}
    .branding               {max-width: 458px; background-size: 90%}
}
@media only screen and      (min-width: 64em){
    .slider .container      {width: 64rem}
}
@media only screen and      (max-width: 63.99em){
    .gallery-item           {width:100%; height:auto}
    .branding               {background-color: #2B243F}
    .main-menu              {border-bottom: 6px #1D1D1D solid; background-color: #2b243f}
    .main-menu >ul>li > a   {display: block; margin: 0 ; padding: 1.3rem 0.7rem;}
    .main-menu li           {padding: 0; margin: 0; display: block;}
    .main-menu>ul>li        {height: auto}
    .main-menu a,
    .main-menu a.active,
    .main-menu
    a.active:hover          {border-top: 1px #241E38 solid; border-bottom: 1px #241E38 solid;}
    .sub-menu               {width: 100%; position: relative; opacity: 1; visibility: visible; margin: 0; padding: 0}
    .sub-menu a             {display: block; padding: 1.3rem 1.7rem!important; margin: 0;  border-bottom:1px #382f57 solid}
    .sub-menu a::before     {content: "\f054"; font-size: 0.6rem; position: absolute; left: 15px; color: #605973; font-family: fontawesome; line-height: 21px;}
    .sub-toggle             {position: relative}
    .lang-toggl             {font-size: 1.15rem}
    .menu-toggle            {font-size: 1.5rem}
    .main-menu a:hover      {opacity: 1}
    .home-nav .h2           {font-size: 1.25rem;}
    .home-nav
    li.active::before       {bottom: -56px;}
    .home-nav
    li:hover::before        {bottom: -62px;}
    .search .h1.raleway     {font-size: 1.6rem;}

}
@media only screen and      (max-width: 768px){
    .mobile-right           {float: left!important;}
    .branding               {width: 80px; background-size: 390px; background-position: 20px;}
    .right-menu             {position: absolute; top: 0; right: 0}
    .h1                     {font-size: 2rem; line-height: 2.4rem;}
    .h2, .h3                {font-size: 0.9rem!important; line-height: 1.5rem!important}
}

/* Basscss Background Images */

.bg-cover                   {background-size: cover}
.bg-contain                 {background-size: contain}

.bg-center                  {background-position: center}
.bg-top                     {background-position: top}
.bg-right                   {background-position: right}
.bg-bottom                  {background-position: bottom}
.bg-left                    {background-position: left}

/* Basscss Responsive White Space */


@media (min-width: 40em) {

    .sm-m0                  {margin:        0}
    .sm-mt0                 {margin-top:    0}
    .sm-mr0                 {margin-right:  0}
    .sm-mb0                 {margin-bottom: 0}
    .sm-ml0                 {margin-left:   0}

    .sm-m1                  {margin:        .5rem}
    .sm-mt1                 {margin-top:    .5rem}
    .sm-mr1                 {margin-right:  .5rem}
    .sm-mb1                 {margin-bottom: .5rem}
    .sm-ml1                 {margin-left:   .5rem}

    .sm-m2                  {margin:        1rem}
    .sm-mt2                 {margin-top:    1rem}
    .sm-mr2                 {margin-right:  1rem}
    .sm-mb2                 {margin-bottom: 1rem}
    .sm-ml2                 {margin-left:   1rem}

    .sm-m3                  {margin:        2rem}
    .sm-mt3                 {margin-top:    2rem}
    .sm-mr3                 {margin-right:  2rem}
    .sm-mb3                 {margin-bottom: 2rem}
    .sm-ml3                 {margin-left:   2rem}

    .sm-m4                  {margin:       4rem}
    .sm-mt4                 {margin-top:   4rem}
    .sm-mr4                 {margin-right: 4rem}
    .sm-mb4                 {margin-bottom:4rem}
    .sm-ml4                 {margin-left:  4rem}

    .sm-mxn1                {margin-left: -.5rem; margin-right: -.5rem;}
    .sm-mxn2                {margin-left: -1rem;  margin-right: -1rem;}
    .sm-mxn3                {margin-left: -2rem;  margin-right: -2rem;}
    .sm-mxn4                {margin-left: -4rem;  margin-right: -4rem;}

    .sm-mx-auto             {margin-left: auto; margin-right: auto;}

}
@media (min-width: 52em) {

    .md-m0                  {margin:        0}
    .md-mt0                 {margin-top:    0}
    .md-mr0                 {margin-right:  0}
    .md-mb0                 {margin-bottom: 0}
    .md-ml0                 {margin-left:   0}

    .md-m1                  {margin:        .5rem}
    .md-mt1                 {margin-top:    .5rem}
    .md-mr1                 {margin-right:  .5rem}
    .md-mb1                 {margin-bottom: .5rem}
    .md-ml1                 {margin-left:   .5rem}

    .md-m2                  {margin:        1rem}
    .md-mt2                 {margin-top:    1rem}
    .md-mr2                 {margin-right:  1rem}
    .md-mb2                 {margin-bottom: 1rem}
    .md-ml2                 {margin-left:   1rem}

    .md-m3                  {margin:        2rem}
    .md-mt3                 {margin-top:    2rem}
    .md-mr3                 {margin-right:  2rem}
    .md-mb3                 {margin-bottom: 2rem}
    .md-ml3                 {margin-left:   2rem}

    .md-m4                  {margin:        4rem}
    .md-mt4                 {margin-top:    4rem}
    .md-mr4                 {margin-right:  4rem}
    .md-mb4                 {margin-bottom: 4rem}
    .md-ml4                 {margin-left:   4rem}

    .md-mxn1                {margin-left:  -.5rem; margin-right: -.5rem;}
    .md-mxn2                {margin-left:  -1rem;  margin-right: -1rem;}
    .md-mxn3                {margin-left:  -2rem;  margin-right: -2rem;}
    .md-mxn4                {margin-left:  -4rem;  margin-right: -4rem;}

    .md-mx-auto             {margin-left: auto; margin-right: auto;}

}
@media (min-width: 64em) {

    .lg-m0                  {margin:        0}
    .lg-mt0                 {margin-top:    0}
    .lg-mr0                 {margin-right:  0}
    .lg-mb0                 {margin-bottom: 0}
    .lg-ml0                 {margin-left:   0}

    .lg-m1                  {margin:        .5rem}
    .lg-mt1                 {margin-top:    .5rem}
    .lg-mr1                 {margin-right:  .5rem}
    .lg-mb1                 {margin-bottom: .5rem}
    .lg-ml1                 {margin-left:   .5rem}

    .lg-m2                  {margin:        1rem}
    .lg-mt2                 {margin-top:    1rem}
    .lg-mr2                 {margin-right:  1rem}
    .lg-mb2                 {margin-bottom: 1rem}
    .lg-ml2                 {margin-left:   1rem}

    .lg-m3                  {margin:        2rem}
    .lg-mt3                 {margin-top:    2rem}
    .lg-mr3                 {margin-right:  2rem}
    .lg-mb3                 {margin-bottom: 2rem}
    .lg-ml3                 {margin-left:   2rem}

    .lg-m4                  {margin:        4rem}
    .lg-mt4                 {margin-top:    4rem}
    .lg-mr4                 {margin-right:  4rem}
    .lg-mb4                 {margin-bottom: 4rem}
    .lg-ml4                 {margin-left:   4rem}

    .lg-mxn1                {margin-left:  -.5rem; margin-right: -.5rem;}
    .lg-mxn2                {margin-left:  -1rem;  margin-right: -1rem;}
    .lg-mxn3                {margin-left:  -2rem;  margin-right: -2rem;}
    .lg-mxn4                {margin-left:  -4rem;  margin-right: -4rem;}

    .lg-mx-auto             {margin-left: auto; margin-right: auto;}

}

@media (min-width: 40em) {
    /* Gallery row fix */
    .article-gallery .strip:nth-child(4):after {content:""; display: block; height: 1px;}

    .sm-p0                  {padding: 0}

    .sm-p1                  {padding:      .5rem}
    .sm-py1                 {padding-top:  .5rem; padding-bottom: .5rem}
    .sm-px1                 {padding-left: .5rem; padding-right:  .5rem}

    .sm-p2                  {padding:      1rem}
    .sm-py2                 {padding-top:  1rem; padding-bottom: 1rem}
    .sm-px2                 {padding-left: 1rem; padding-right:  1rem}

    .sm-p3                  {padding:      2rem}
    .sm-py3                 {padding-top:  2rem; padding-bottom: 2rem}
    .sm-px3                 {padding-left: 2rem; padding-right:  2rem}

    .sm-p4                  {padding:      4rem}
    .sm-py4                 {padding-top:  4rem; padding-bottom: 4rem}
    .sm-px4                 {padding-left: 4rem; padding-right:  4rem}

}
@media (min-width: 52em) {

    .md-p0                  {padding: 0}

    .md-p1                  {padding:      .5rem}
    .md-py1                 {padding-top:  .5rem; padding-bottom: .5rem}
    .md-px1                 {padding-left: .5rem; padding-right:  .5rem}

    .md-p2                  {padding:      1rem}
    .md-py2                 {padding-top:  1rem; padding-bottom: 1rem}
    .md-px2                 {padding-left: 1rem; padding-right:  1rem}

    .md-p3                  {padding:      2rem}
    .md-py3                 {padding-top:  2rem; padding-bottom: 2rem}
    .md-px3                 {padding-left: 2rem; padding-right:  2rem}

    .md-p4                  {padding:      4rem}
    .md-py4                 {padding-top:  4rem; padding-bottom: 4rem}
    .md-px4                 {padding-left: 4rem; padding-right:  4rem}

}
@media (min-width: 64em) {

    .lg-p0                  {padding:      0}

    .lg-p1                  {padding:      .5rem}
    .lg-py1                 {padding-top:  .5rem; padding-bottom: .5rem}
    .lg-px1                 {padding-left: .5rem; padding-right:  .5rem}

    .lg-p2                  {padding:      1rem}
    .lg-py2                 {padding-top:  1rem; padding-bottom: 1rem}
    .lg-px2                 {padding-left: 1rem; padding-right:  1rem}

    .lg-p3                  {padding:      2rem}
    .lg-py3                 {padding-top:  2rem; padding-bottom: 2rem}
    .lg-px3                 {padding-left: 2rem; padding-right:  2rem}

    .lg-p4                  {padding:      4rem}
    .lg-py4                 {padding-top:  4rem; padding-bottom: 4rem}
    .lg-px4                 {padding-left: 4rem; padding-right:  4rem}

}
