@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Medium.eot');
	src: url('Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Medium.woff') format('woff'),
		url('Raleway-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-ExtraLightItalic.eot');
	src: url('Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('Raleway-ExtraLightItalic.woff') format('woff'),
		url('Raleway-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Thin.eot');
	src: url('Raleway-Thin.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Thin.woff') format('woff'),
		url('Raleway-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-BlackItalic.eot');
	src: url('Raleway-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('Raleway-BlackItalic.woff') format('woff'),
		url('Raleway-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Black.eot');
	src: url('Raleway-Black.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Black.woff') format('woff'),
		url('Raleway-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Regular.eot');
	src: url('Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Regular.woff') format('woff'),
		url('Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Light.eot');
	src: url('Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Light.woff') format('woff'),
		url('Raleway-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-SemiBoldItalic.eot');
	src: url('Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('Raleway-SemiBoldItalic.woff') format('woff'),
		url('Raleway-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-BoldItalic.eot');
	src: url('Raleway-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('Raleway-BoldItalic.woff') format('woff'),
		url('Raleway-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Bold.eot');
	src: url('Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Bold.woff') format('woff'),
		url('Raleway-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-MediumItalic.eot');
	src: url('Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('Raleway-MediumItalic.woff') format('woff'),
		url('Raleway-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Italic.eot');
	src: url('Raleway-Italic.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Italic.woff') format('woff'),
		url('Raleway-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-ExtraBold.eot');
	src: url('Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('Raleway-ExtraBold.woff') format('woff'),
		url('Raleway-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-SemiBold.eot');
	src: url('Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('Raleway-SemiBold.woff') format('woff'),
		url('Raleway-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-ThinItalic.eot');
	src: url('Raleway-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('Raleway-ThinItalic.woff') format('woff'),
		url('Raleway-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-ExtraBoldItalic.eot');
	src: url('Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('Raleway-ExtraBoldItalic.woff') format('woff'),
		url('Raleway-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-ExtraLight.eot');
	src: url('Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('Raleway-ExtraLight.woff') format('woff'),
		url('Raleway-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-LightItalic.eot');
	src: url('Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('Raleway-LightItalic.woff') format('woff'),
		url('Raleway-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}